<h1>Book Collection</h1>
<p>A place to document your very own book collection.</p>

<%= link_to('Books', books_path(page: 1)) %><br />

<%= link_to('About', {action: 'about', page: 5, id: 20}) %><br />
