<h1>Book Collection</h1>
<p>This will be a vast and expansive and super impressive book collection</p>

<%= link_to('Books', {controller: 'books', action: 'index', page: 1}) %><br />

<%= link_to('About', {action: 'about', page: 5, id: 20}) %><br />
